extends layout.pug
block content
    section.signup
      div.signincontainer
        div
          h5 Name 
          input#name.signin_input(type='text' name='name')
        div
          h5 Email ID 
          input#email.signin_input(type='email' name='email')
        div
          h5 Password 
          input#password.signin_input(type='text' name='password')


        