
<section class="intro">
  <div>
    <h1>Launch Pad</h1>
    <div class="para">
      <p>Loremjbjn ipsum, dolor sit amet consectetur adipisicing elit. Dolor adipisci ab totam impedit. Hic enim cupiditate soluta voluptatum voluptatibus repudiandae vel error, animi nobis eius, saepe quae optio dicta fugiat quos eligendi iure non iste? Excepturi ratione omnis dicta maiores tempore suscipit, ex ducimus. Sed sequi facere porro eveniet praesentium beatae iste error cum ipsam, in recusandae nesciunt minima. Fuga cupiditate, tempora, ratione culpa totam animi ipsum nisi sed exercitationem ad debitis repudiandae iste architecto fugiat quae. Magnam, quibusdam cumque.</p>
    </div>
  </div>
</section>
<section class="feeds">
  <div class="cards">
    <div>
      <div class="img"><img src="../static/img/example2.jpg" alt=""/></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="cards">
    <div>
      <div class="img"><img src="../static/img/example2.jpg" alt=""/></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="cards">
    <div>
      <div class="img"><img src="../static/img/example2.jpg" alt=""/></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="cards">
    <div>
      <div class="img"><img src="../static/img/example2.jpg" alt=""/></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="cards">
    <div>
      <div class="img"><img src="../static/img/example2.jpg" alt=""/></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="cards">
    <div>
      <div class="img"><img src="../static/img/example2.jpg" alt=""/></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</section>