section.signup
  form.signupform(action= "signup" method = "POST")
    div
      h5 Name 
      input(type='text' name='name')
    div
      h5 Email ID 
      input(type='email' name='email')
    div  
      h5 Password 
      input(type='password' name='password')
    div
      h5 Confirm Password 
      input(type='password' name='confirmpassword')
    button(type="submit")