doctype html 
html
  head
    title Weeeblogg 
    link(rel="stylesheet", href="../static/style.css")
    link(rel="stylesheet", href="../static/style768.css")
    link(rel="stylesheet", href="../static/style600.css")
     
    body.container 
    nav.navbar#navbarid.h-nav 
        div.hamburger#burger 
          hr.line
          hr.line
          hr.line  
        ul#navlist.v-class 
          li #[a(href="/") Home]
          li #[a(href="/news") News]         
          li #[a(href="/launchpad") Launch Pad]
          li #[a(href="/gamming") Gaming]
          li #[a(href="/programming") Programming]
                ul.programming
                    li #[a(href="/") C/C++a]
                    li #[a(href="/") Pytho]
                    li #[a(href="/") Java]
                    li #[a(href="/") Web-Developement]
                    li #[a(href="/") JavaScript]
          //- li #[a(href="/") About Us]
          li #[a(href="/signin") Sign In]
          //- li #[a(href="/") Join Us]
          

    block content
      if(page == "home")
        include include/home.pug 
      if(page == "gamming")
        include include/gamming.pug 
      if(page == "programming")
        include include/programming.pug 
      if(page == "launchpad")
        include include/launchpad.pug 
      if(page == "news")
        include include/news.pug 
      if(page == "signin")
        include include/signin.pug 
      if(page == "signup")
        include include/signup.pug 
    block foot
    section.footerinfo 
      div.footercontainer 
        div.aboutus
          h4 About Us 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, quia itaque accusantium molestias, unde reprehenderit numquam placeat vel, harum cum quis repellendus exercitationem omnis odit!
        div.links
          h4 SiteLinks 
          ul.linkslist 
            li #[a(href="/") About Us] 
            li #[a(href="/") Contact] 
            li #[a(href="/") Privacy] 
            li #[a(href="/") Carriers] 
            li #[a(href="/") Advertise] 
        div.social
          h4 Socials 
          ul.sociallsit 
            li #[a(href="/") Twitter] 
            li #[a(href="/") Instagram] 
            li #[a(href="/") Facebook] 
            li #[a(href="/") Linkedin] 
        div.privacy
          h4 Your Privacy
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, natus. Enim nam porro possimus! Earum nesciunt vero eveniet a libero hic saepe voluptates explicabo ipsa?
      footer.foot 
        div
          | © 2021 Weeblogg All rights reserved
    script(src="../static/index.js")
