div.addpost
  form(action="/admin/post/addpost" method="post") 
    input(type='text' class="title" name='title' placeholder='Enter the title')
    input(type='text' class="img" name='img' placeholder='Enter the image')
    input(type='text' class="content" name='content' placeholder='Enter the content')
    input(type='text' class="author" name='author' placeholder='Enter the author')
    input(type='text' class="category" name='category' placeholder='Enter the Category')
    input(type='submit') 
