
<div class="addpost">
  <form action="/admin/post/addpost" method="post"> 
    <input class="title" type="text" name="title" placeholder="Enter the title"/>
    <input class="img" type="text" name="img" placeholder="Enter the image"/>
    <input class="content" type="FILE" name="content" placeholder="Enter the content"/>
    <input class="author" type="text" name="author" placeholder="Enter the author"/>
    <input class="category" type="text" name="category" placeholder="Enter the Category"/>
    <input type="submit"/>
  </form>
</div>