div.admins
  div.adminsheader
    h3 Manage Admins!!
    //- a(href="/admin/post/settings") #[li Settings] #[i.fas.fa-cog]
  div.adminscontainer
    div.adminsmenu 
      a(href="/admin/admins/roles") #[li Roles] #[i.fas.fa-user-tag] 
      a(href="/admin/admins/list") #[li Admins list] #[i.fas.fa-list-ul] 
