
<div class="admins">
  <div class="adminsheader">
    <h3>Manage Admins!!</h3>
  </div>
  <div class="adminscontainer">
    <div class="adminsmenu"> <a href="/admin/admins/roles">
        <li>Roles</li> <i class="fas fa-user-tag"></i> </a><a href="/admin/admins/list">
        <li>Admins list</li> <i class="fas fa-list-ul"></i> </a></div>
  </div>
</div>
