
<div class="employee">
  <div class="employeeheader">
    <h3>Manage Employees!!</h3>
  </div>
  <div class="employeecontainer">
    <div class="employeemenu"> <a href="/admin/employee/list">
        <li>Employee list</li> <i class="fas fa-list-ul"></i> </a></div>
  </div>
</div>
