
<div class="navigation">
  <h3 class="dashboard">Dashboard</h3>
  <div class="menu">  
     <a href="/admin/post"> 
      <li>Posts</li> <i class="fas fa-blog"></i></a> 
      <a href="/admin/employee"> 
      <li>Employee</li> <i class="fas fa-user-tie"></i></a> 
      <a href="/admin/admins"> 
      <li>Admins</li> <i class="fas fa-users-cog"></i></a> 
      <a href="/admin/users"> 
      <li>Users</li> <i class="fas fa-user"></i></a> 
      <a href="/admin/stats"> 
      <li>Stats</li> <i class="fas fa-chart-line"></i></a> 
      <a href="/admin/settings"> 
      <li>Settings</li> <i class="fas fa-cog"></i></a>
      <a href="/admin/logout"> 
      <li>Logout</li> <i class="fas fa-sign-out-alt"></i></a></div>
</div>