
<div class="post">
  <div class="postheader">
    <h3>Manage your Posts</h3><a class="disabled">
      <li>Posts Settings</li> <i class="fas fa-tools"></i></a>
  </div>
  <div class="postcontainer">
    <div class="postmenu"> <a href="/admin/post/addpost">
        <li>Add a post</li> <i class="fas fa-plus"></i> </a><a class="disabled">
        <li>Delete a post</li> <i class="fas fa-minus"></i> </a><a class="disabled">
        <li>Edit a post</li> <i class="fas fa-edit"></i> </a></div>
  </div>
</div>
