div.post
  div.postheader
    h3 Manage your Posts
    a( class="disabled") #[li Posts Settings] #[i.fas.fa-tools]
  div.postcontainer
    div.postmenu 
      a(href="/admin/post/addpost") #[li Add a post] #[i.fas.fa-plus] 
      a( class="disabled") #[li Delete a post] #[i.fas.fa-minus] 
      a( class="disabled") #[li Edit a post] #[i.fas.fa-edit] 
