<div class="settings">
  <div class="settingsheader">
    <h2>Settings </h2>
    <div class="darkmode">
      <p>Dark Mode</p>
      <label class="switch">
        <input type="checkbox" ><span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="basic">
    <h3>Basic Settings </h3>
    <div class="basicmenu"></div>
  </div>
</div>