div.settings
  div.settingsheader
    h2 Settings 
    div.darkmode 
      p Dark Mode
      label.switch 
        input( type ="checkbox")
        span.slider

  div.basic
    h3 Basic Settings 
    div.basicmenu
      